<a href="https://colab.research.google.com/github/abhi147p/Abhishek_INFO5731_Spring2023/blob/main/In_class_exercise_01_01242023_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (01/24/2023, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [2]:
# write your answer here
string = input("Enter any string: ")
str_len = lambda strg: sum(1 for char in strg)
print(f"The length of given string is: {str_len(string)}")

Enter any string: abhishek
The length of given string is: 8

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [8]:
# write your answer here

string = input("Enter any string: ")
str_map = {char: string.count(char) for char in set(string)}
str_map = dict(sorted(str_map.items(), key = lambda x: x[1], reverse=True))
print(str_map)

Enter any string: google.com
{'o': 3, 'g': 2, 'c': 1, 'e': 1, 'l': 1, 'm': 1, '.': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [11]:
# write your answer here
from functools import reduce

items = list(map(int, input("Enter the items: ").split()))
print(f"The sum of elements in a list: {reduce(lambda a,b: a+b, items)}")

Enter the items: 1 2 3 4 5
The sum of elements in a list: 15

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [16]:
# write your answer here
def replace(string):
  str_map = {}
  ans = ""
  for char in string:
    str_map[char] = str_map.get(char, 0) + 1
    if str_map[char] == 2:
      ans += "$"
    else:
      ans += char
  return ans

string = input("Enter your string: ")
print(f"Result: {replace(string)}")

Enter your string: restart
Result: resta$$

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [ ]:
# write your answer here

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
# write your answer here

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [ ]:
# write your answer here

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [ ]:
# write your answer here

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [ ]:
# write your answer here

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [ ]:
# write your answer here

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [ ]:
# write your answer here