<a href="https://colab.research.google.com/github/abhi147p/Abhishek_INFO5731_Spring2023/blob/main/In_class_exercise_01_01242023_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (01/24/2023, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [2]:
# write your answer here
string = input("Enter any string: ")
str_len = lambda strg: sum(1 for char in strg) # using the lambda expression by returning value=1 for each char and finally getting value of sum to get length.
print(f"The length of given string is: {str_len(string)}")

Enter any string: abhishek
The length of given string is: 8

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [8]:
# write your answer here

string = input("Enter any string: ")
str_map = {char: string.count(char) for char in set(string)} # using dict comprehension, by taking unique values of string and counting the occurrences of each char using count method.
str_map = dict(sorted(str_map.items(), key = lambda x: x[1], reverse=True)) # sorting based on values of dictionary
print(str_map)

Enter any string: google.com
{'o': 3, 'g': 2, 'c': 1, 'e': 1, 'l': 1, 'm': 1, '.': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [11]:
# write your answer here
from functools import reduce

items = list(map(int, input("Enter the items: ").split()))
print(f"The sum of elements in a list: {reduce(lambda a,b: a+b, items)}")

Enter the items: 1 2 3 4 5
The sum of elements in a list: 15

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [79]:
# write your answer here
def replace(string):
  """
    params1: string input parameter as string.
    return(str): replaced string with $ for first occurrence character.
  """
  if len(string) == 0:
    return "No Occurance"
  str_replace = str([string[i] if i==0 else string[i] if string[0] != string[i] else "$" for i in range(len(string))])
  # print(str_replace)
  return str_replace if str_replace != string else "No Occurance"

string = input("Enter your string: ")
print(f"Result: {replace(string)}")

Enter your string: restart
Result: ['r', 'e', 's', 't', 'a', '$', 't']

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [27]:
# write your answer here

a, b = tuple(map(int, input("Enter values for a and b: ").split()))
print(eval(f"3.14 * (( 1 + {a} / {b}) ** 3)"))

Enter values for a and b: 2 2
25.12

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [42]:
# write your answer here

def concat(*args):
  """
    params1: args list of dictionaries
    return(dict): concatenated list of dictionaries and sorted based on values.
  """
  dict_concat = {**args[0], **args[1], **args[2]}
  return dict(sorted(dict_concat.items(), key = lambda x: x[1]))

dict1, dict2, dict3 = {1:10, 2:20}, {3:30, 4:40}, {5:50, 6:60}
# print({**dict1, **dict2, **dict3})
print(f"Expected Result: {concat(dict1, dict2, dict3)}")

Expected Result: {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [45]:
# write your answer here

items = tuple(map(int, input("Enter elements of tuple: ").split()))
elemt = int(input("Enter element to check: "))
print(f"{elemt} exists in tuple") if elemt in items else print(f"{elemt} does not exist")

Enter elements of tuple: 1 2 3 4 5 6 7 8
Enter element to check: 3
3 exists in tuple

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [48]:
# write your answer here

set_elem = set(map(int, input("Enter elements of set: ").split()))
max_set = reduce(lambda x,y: x if x>y else y, set_elem)
min_set = reduce(lambda x,y: y if x>y else x, set_elem)
print(f"Max of set: {max_set} and Min of set: {min_set}")

Enter elements of set: 1 2 3 4 5 1 26 7
Max of set: 26 and Min of set: 1

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [74]:
# write your answer here

# std_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569',
#                 'kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 
#                 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377',
#                 'nm0618','sm1640','sm1907','gn0108','pr0353','dr0609',
#                 'ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232',
#                 'ap1234', 'jp2211']
# size = len(std_list)
# grp_list = []
# for x in range(size):
#   if (x+4)
import random

71

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [58]:
# write your answer here

def find_duplicates(arr):
  """
    params1: arr list of elements
    return(list or int): list of duplicate elements if present, else -1
  """
  arr_dict = {x: arr.count(x) for x in set(arr)}
  arr_dup = [key for key, value in arr_dict.items() if value != 1]
  return arr_dup if arr_dup else -1

arr = list(map(int, input("Enter list of elements: ").split()))
print(find_duplicates(arr))

Enter list of elements: 1 2 1 4 9 1 6 3 4
[1, 4]

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [69]:
# write your answer here

def return_all_sundays(year): # developed a generator, that yields all the date values for sundays.
  """
    params1: year.
    return(dates): all the sundays dates of a particular year
  """
  from datetime import date, timedelta
  date_time = date(year, 1, 1) # date(year, month, day)
  """
    0: Monday
    1: Tuesday
    2: Wednesday
    3: Thursday
    4: Friday
    5: Saturday
    6: Sunday
  """
  date_time += timedelta(days = 6 - date_time.weekday()) # skipping to sunday based on no of days
  while date_time.year == year:
    yield date_time # yield is used to generate all the sundays and return the values.
    date_time += timedelta(days = 7) # After fetching 1st sunday, we will iterate over by adding 7 days (1 week)

year = int(input("Enter the year to select all sundays: "))
all_Sundays = []
for date in return_all_sundays(year):
  all_Sundays.append(date)
print(all_Sundays)

Enter the year to select all sundays: 2023
[datetime.date(2023, 1, 1), datetime.date(2023, 1, 8), datetime.date(2023, 1, 15), datetime.date(2023, 1, 22), datetime.date(2023, 1, 29), datetime.date(2023, 2, 5), datetime.date(2023, 2, 12), datetime.date(2023, 2, 19), datetime.date(2023, 2, 26), datetime.date(2023, 3, 5), datetime.date(2023, 3, 12), datetime.date(2023, 3, 19), datetime.date(2023, 3, 26), datetime.date(2023, 4, 2), datetime.date(2023, 4, 9), datetime.date(2023, 4, 16), datetime.date(2023, 4, 23), datetime.date(2023, 4, 30), datetime.date(2023, 5, 7), datetime.date(2023, 5, 14), datetime.date(2023, 5, 21), datetime.date(2023, 5, 28), datetime.date(2023, 6, 4), datetime.date(2023, 6, 11), datetime.date(2023, 6, 18), datetime.date(2023, 6, 25), datetime.date(2023, 7, 2), datetime.date(2023, 7, 9), datetime.date(2023, 7, 16), datetime.date(2023, 7, 23), datetime.date(2023, 7, 30), datetime.date(2023, 8, 6), datetime.date(2023, 8, 13), datetime.date(2023, 8, 20), datetime.date(2023, 8, 27), datetime.date(2023, 9, 3), datetime.date(2023, 9, 10), datetime.date(2023, 9, 17), datetime.date(2023, 9, 24), datetime.date(2023, 10, 1), datetime.date(2023, 10, 8), datetime.date(2023, 10, 15), datetime.date(2023, 10, 22), datetime.date(2023, 10, 29), datetime.date(2023, 11, 5), datetime.date(2023, 11, 12), datetime.date(2023, 11, 19), datetime.date(2023, 11, 26), datetime.date(2023, 12, 3), datetime.date(2023, 12, 10), datetime.date(2023, 12, 17), datetime.date(2023, 12, 24), datetime.date(2023, 12, 31)]